@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

/* ! ============ UtlityStyling ===================== */
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2.5em;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 500;
}
.btn-primary {
  color: #fff;
  background: #16a083;
  transition: background 0.3s ease-in-out;
}
.btn-primary:hover{
  background: #0d614f;
}
/* ! ============ navbar Styling ===================== */
/* ? for destop mode */

.navbar input[type="checkbox"],
.navbar .hamburger-line {
  display: none;
}

.navbar {
  box-shadow: 0 5px 10px 0 #aaa;
  width: 100%;
  position: fixed;
  z-index: 999;
  opacity: 0.85;
  color: #000;
  background-color: #fff;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.menu-items li {
  margin-left: 1.5rem;
  list-style: none;
  font-size: 1.8rem;
}
.logo {
  order: -1;
  font-size: 3rem;
}
.menu-items {
  display: flex;
  order: 1;
}
.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}
.navbar a:hover {
  color: #117964;
}

/* ! showcase styling */
.showcase-area {
  background-image: linear-gradient(
      rgba(240, 240, 240, 0.1444),
      rgba(255, 255, 255, 0.336)
    ),
    url("../images/1.jpg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  font-size: 1.6rem;
}
.showcase-area h2 {
  text-transform: capitalize;
}

/* !======================= About us ========================== */
#about {
  padding: 45px 0;
  background: #f5f5f7;
}
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}
#about h2 {
  font-size: 3.2rem;
}
#about p {
  font-size: 1.6rem;
  color: #555;
  font-weight: 500;
}
#about .small {
  font-size: 1.6rem;
  color: #666;
  font-weight: 600;
}
.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}
@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}
.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  font-size: 1.6rem;
  transform: translateX(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}
@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}
.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  object-fit: cover;
  object-position: right;
  margin: auto;
}

/* ! =================== Food ====================== */
#food {
  padding: 5em 0 10em 0;
}
#food h2 {
  text-align: center;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 2em;
  font-weight: 400;
  font-size: 3rem;
}
.food-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.food-container img {
  display: block;
  width: 100%;
  margin: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.img-container {
  margin: 0 1em;
  position: relative;
}
.img-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  text-align: center;
  transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3 {
  color: #fff;
  font-size: 3rem;
}
.img-content a {
  font-size: 1.2rem;
}
.img-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.812);
  transform: scaleY(0);
  transition: all 0.2s ease-in-out;
  transform-origin: 100% 100%;
}
.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}
.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
}

/* ! ===================== Food Menu ====================== */
.food-menu-heading {
  font-weight: 400;
  color: #666;
  font-size: 4rem;
  text-align: center;
}
.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 30px 0;
}
.food-menu-container img {
  display: block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.food-menu-item {
  display: flex;
  flex: 1 1 45%;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.food-description {
  margin: auto 1.5rem;
}
.food-title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444;
}
.food-description p {
  font-size: 1.4rem;
  color: #555;
  font-weight: 500;
}
.food-description .food-price {
  color: #117964;
  font-weight: 400;
}

/* !=============== testonomial ==================== */
#testonomial {
  padding: 5em 0;
  background: rgb(243, 243, 243);
}
.testonomial-title {
  text-align: center;
  font-size: 3rem;
  color: #555;
  font-weight: 400;
  text-transform: capitalize;
}
.testonomial-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 1.6rem;
  padding: 1rem;
}
.testonomial-box .checked {
  color: #ff9529;
}

.testonomial-box .testonomial-text {
  margin: 1em 0;
  color: #444;
}
.testonomial-box {
  text-align: center;
  padding: 1em;
}
.custom-detail img {
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: auto;
}

/* ! ============= Contact Us ==================== */
#contact {
  padding: 5em 0;
  background: rgb(246, 246, 246);
}
.contact-container {
  background: #fff;
  display: flex;
}
.contact-img {
  width: 50%;
}
.contact-img img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 400px;
  object-position: center;
}
.form-container {
  width: 50%;
  margin: auto;
  padding: 1em;
}
.form-container input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 1em;
  padding: 1em 0;
  color: #444;
  font-weight: 400;
  caret-color: green;
  border-bottom: 2px solid #ddd;
}
.form-container textarea {
  display: block;
  width: 100%;
  border: none;
  padding: 1em 0.3em;
  border-bottom: 2px solid #ddd;
  margin-right: 1em;
  caret-color: red;
}
.form-container h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #444;
  margin-bottom: 1em;
}
.form-container a {
  font-size: 1.2em;
}
/* ! ================= Footer Styling ========== */
#footer h2 {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
  font-weight: 500;
  color: #fff;
  background: rgb(65, 65, 65);
  text-transform: capitalize;
}
#footer h2::before {
  content: "\2665";
  color: red;
  font-size: 2.3rem;
}

/* ! =========== Media Query ============= */
@media (max-width: 760px) {
  .navbar {
    opacity: 0.9;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-line {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }
  .navbar-container input[type="checkbox"] {
    display: block;
    position: absolute;
    height: 32px;
    width: 42px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }
  .navbar-container .hamburger-line {
    width: 40px;
    height: 32px;
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 2;
  }
  .navbar-container .hamburger-line .line {
    display: block;
    width: 100%;
    height: 4px;
    background: #333333;
    border-radius: 10%;
  }
  .navbar-container .hamburger-line .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-line .line2 {
    transition: transform 0.4s ease-in-out;
  }
  .navbar-container .hamburger-line .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 10em;
    background: #fff;
    height: 60vh;
    max-width: 76%;
    transform: translateX(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0 10px 0 #aaa;
  }
  .navbar .menu-items li {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 500;
  }
  .logo {
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 4rem;
    font-weight: 500;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-line .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-line .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-line .line3 {
    transform: rotate(-45deg);
  }

  /* ! === Food category === */
  .food-container {
    flex-direction: column;
    align-items: stretch;
  }
  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }
  .food-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }
  .img-container {
    margin: 0;
  }
}

/* ! ==== small screen ==== */
@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .testonomial-container {
    flex-direction: column;
    align-content: center;
  }
  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }
  .food-menu-container img {
    margin: auto;
  }

  .form-container {
    width: 90%;
  }
  .contact-container {
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }
}
/* ! ============= landscape mode ============== */
@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}
